<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache
		http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- <bean id="userService" class="com.service.impl.UserServiceImpl"/>	
	<bean id="orderServiceForWXImpl" class="com.service.impl.OrderServiceForWXImpl"/> -->
<!-- 	<task:scheduled-tasks>
 		<task:scheduled ref="subscribeService" method="startSubscribeTask" cron="0/20 * * * * ? "/>
     	<task:scheduled ref="subscribeService" method="endSubscribeTask" cron="0/25 * * * * ? "/>
     	<task:scheduled ref="subscribeService" method="flushSubscribeCustom" cron="0 0 0/1 * * ? "/>
     	<task:scheduled ref="msgCacheServce" method="fetch" cron="0/5 * * * * ? "/>
     	<task:scheduled ref="synCgpService" method="synCgp" cron="0 0 23 * * ? "/>
	</task:scheduled-tasks>
 -->	
</beans>